.faq {
    margin: auto auto;
    padding: 50px 20px;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        'heading heading'
        'description description'
        'accordions accordions'
        'contact contact';
        row-gap: 24px;
}
.faq-heading {
    grid-area: heading;
}
.faq-description  {
    grid-area: description;
}
.contact-btn-mobile {
    display: grid;
}
.contact {
    grid-area: contact;
    justify-self: center;
}
.contact-card {
    display: none;
}
.accordion {
    border-radius: 8px;
    box-shadow: $s-shadow;
    column-gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 12px;
    body.dark-theme & {
        background-color: $white-05;
    }
}
.accordions {
    grid-area: accordions;
} 
.question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.question {
    font: $m-text;
    flex: flex-start;
    width: 80%;
}
.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    transition: background-color 0.5s ease;
    color: $gray-800;
    body.dark-theme & {
        color: $white;
    }
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-width: 0;
}
.answer {
    padding: 24px 24px;
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.6s ease-in-out, opacity 0.3s linear 0.5s;
}
.hidden {
    padding: 0 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s linear, max-height 0.3s ease 0.3s, padding 0.7s linear;
}
.arrow {
    transform: rotateX(0deg);
    transition: transform 0.5s ease;
}
.active {
    .arrow {
        transform: rotateX(180deg);  
    }
    background-color: $brand-primary;
    body.dark-theme & {
        background-color: $brand-primary;
        box-shadow: $brand-shadow; 
    }
    color: $white;
}
@media (min-width: 720px) {
    .faq {
        max-width: 720px;
    }
    .contact-btn-mobile {
        display: none;
    }
    .faq-heading, .faq-description {
        justify-self: center;
    }
    .contact {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .contact-card {
        grid-area: contact;
        height: 170px;
        width: 50%;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 20px;
        padding-left: 20px;
        body.dark-theme & {
            color: $white-70;
        }
    }
    #contact-phone {
        color: $brand-primary;
        padding-right: 20px;
        font: $l-text;
    }
    #contact-phone-arrow {
        color: $brand-primary;
    }
    #contact-sms {
        color: $success;
        padding-right: 20px;
        font: $l-text;
    }
    #contact-sms-arrow {
        color: $success;
    }

}
@media (min-width: 1340px) {
    .faq {
        max-width: 1340px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 60px 1fr;
        grid-template-areas: 
        'heading accordions'
        'description accordions'
        'contact accordions';
    }
    .faq-heading, .faq-description {
        justify-self: start;
    }
    .contact {
        justify-self: start;
    }
    .accordion {
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .contact-card {
        width: 200px;
    }
}