@import '../utils/varibles.scss';

.features {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 40px;
}
.features-container {
    margin-right: 50px;
    h2 {
        font: $heading-1;
        margin-bottom: 10px;
    }
    h3 {
        font: $heading-5;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 50px;
    }
}
.features-iphone-image {
    margin-left: 50px;
    margin-right: 25px;
}
.features-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.features-card {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .features-iphone-image {
        display: none;
    }
    .features {
        display: block;
    }
    .features-container {
        margin-right: 0;
    }
    .features-heading, .features-description {
        text-align: center;
    }
    .features-grid {
        margin-left: 20px;
        margin-right: 20px;
    }
    .features-card-text-container {
        margin-left: 10px;
    }
    .features-iphone-image {
        display: none;
    }
}

@media (max-width: 720px) {
    .features-grid {
        display: block;
    }
}