@import '../utils/varibles.scss';

.features {
    margin: 0 auto;
    padding: 50px 20px;
}
.features-iphone-image {
    display: none;
}
.features-container {
    h2 {
        font: $heading-1;
        margin-bottom: 1em;
    }
    h3 {
        font: $heading-5;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 5em;
    }
}
.features-heading, .features-description {
    text-align: center;
}
.features-grid {
    display: grid;
    grid-template-columns: 1fr;
}
.features-card {
    display: grid;
    grid-template-columns: 80px 1fr;
}
@media (min-width: 720px) {
    .features {
        max-width: 720px;
    }
    .features-grid {
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width: 1340px) {
    .empty-div {
        display: none; // bug with grid
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1340px;
        margin: 0 auto;
        padding: 50px 20px;
    }
    .features-iphone-image {
        display: block;
    }
    .features-heading, .features-description {
        text-align: start;
    }
}