@import '../utils/varibles.scss';

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1340px;
    margin: 0 auto;
    padding: 50px 20px;
    overflow: visible;
}
.empty-div {
    display: none;
}
.features-container {
    h2 {
        font: $heading-1;
        margin-bottom: 1em;
    }
    h3 {
        font: $heading-5;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 5em;
    }
}
.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.features-card {
    display: grid;
    grid-template-columns: 80px 1fr;
}

@media (max-width: 1340px) {
    .features {
        display: block;
        max-width: 720px;
    }
    .empty-div {
        display: grid;
    }
    .features-heading, .features-description {
        text-align: center;
    }
    .features-iphone-image {
        display: none;
    }
}

@media (max-width: 720px) {
    .features-grid {
        grid-template-columns: 1fr;
    }
}