.banner {
  background-image: linear-gradient(350deg, rgba(99, 102, 241, 0.15) 0%, rgba(218, 70, 239, 0.07) 42%, rgba(241, 244, 253, 0.07) 83%);
  height: auto;
  padding-top: 100px;
}

.banner-wrapper {
  overflow: hidden;
  height: 600px;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 30% auto;
  grid-template-areas: "heading img" "content img";
  column-gap: 80px;
}

.banner-heading {
  font: 800 3.5rem "Manrope", Helvetica, sans-serif;
  grid-area: heading;
}

.banner-content {
  grid-area: content;
}

.banner-phone-image {
  grid-area: img;
  width: 650px;
}

.banner-text {
  margin-bottom: 3em;
}

.banner-market {
  display: flex;
}

.banner-market-appstore {
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  background-image: url(../../public/images/appstore.svg);
  background-size: cover;
  background-position: center;
  width: 165px;
  height: 52px;
}
body.dark-theme .banner-market-appstore {
  background-image: url(../../public/images/dark-theme/appstore-dark-theme.svg);
  background-size: cover;
  background-position: center;
  width: 165px;
  height: 52px;
}

.banner-market-googleplay {
  border: none;
  border-radius: 10px;
  background-image: url(../../public/images/googleplay.svg);
  background-size: cover;
  background-position: center;
  width: 165px;
  height: 52px;
}
body.dark-theme .banner-market-googleplay {
  background-image: url(../../public/images/dark-theme/googleplay-dark-theme.svg);
  background-size: cover;
  background-position: center;
  width: 165px;
  height: 52px;
}

.banner-scroll-to-discover {
  margin-top: 8em;
  display: flex;
  align-items: center;
  color: #9397AD;
  font: 500 1rem "Manrope", Helvetica, sans-serif;
}
.banner-scroll-to-discover span {
  margin-left: 5px;
}

.down-arrow-image {
  background-image: url(.././images/next-btn.svg);
  background-size: cover;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
}
body.dark-theme .down-arrow-image {
  background-image: url(.././images/dark-theme/next-btn-dark-mode.svg);
  background-size: cover;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 1340px) {
  .banner-wrapper {
    width: 720px;
    height: 520px;
    grid-template-areas: "heading heading" "content img";
    column-gap: 20px;
  }
  .banner-heading {
    font: 800 3rem "Manrope", Helvetica, sans-serif;
    justify-self: center;
    grid-area: heading;
  }
  .banner-phone-image {
    width: 380px;
  }
}
@media (max-width: 720px) {
  .banner-wrapper {
    display: block;
    width: 100%;
    height: 550px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .banner-heading {
    text-align: center;
    font: 800 2.5rem "Manrope", Helvetica, sans-serif;
    margin-bottom: 1em;
  }
  .banner-text {
    text-align: center;
    margin-bottom: 2.5em;
  }
  .banner-market {
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }
  .banner-scroll-to-discover {
    justify-content: center;
  }
  .banner-phone-image {
    display: none;
  }
}

/*# sourceMappingURL=hero.css.map */
