@import '../utils/varibles.scss';
@import '../utils/mixins.scss';

.banner {
    background-image: linear-gradient(350deg,rgba(99,102,241,0.15) 0%, rgba(218,70,239,0.07) 42%, rgba(241,244,253,0.07) 83%);
    height: auto;
    box-sizing: border-box;
    margin-top: -80px; // cover the navbar
}
.banner-wrapper {
    padding-top: 180px;
    overflow: hidden;
    height: 600px;
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 30% auto;
    grid-template-areas: 
        'heading img'
        'content img';
    column-gap: 80px;
}
.banner-heading {
    font: $display-4;
    grid-area: heading;
}
.banner-content {
    grid-area: content;
}
.banner-phone-image {
    grid-area: img;
    width: 650px;
}
.banner-text {
    margin-bottom: 3em;
}
.banner-market {
    display: flex;
    column-gap: 5px;
}
.market-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}
.fa-apple {
    font-size: 2.45em;
}
.download {
    font: $xs-text;
}
.store {
    font: $heading-6;
}
.banner-scroll-to-discover {
    margin-top: 8em;
    display: flex;
    align-items: center;
    color: $gray-600;
    font: $m-text;
    span {
        margin-left: 5px;
    }
}
@media (max-width: 1340px) {
    .banner-wrapper {
        width: 720px;
        height: 520px;
        grid-template-areas: 
            'heading heading'
            'content img';
        column-gap: 20px;
    }
    .banner-heading {
        font: $display-5;
        justify-self: center;
        grid-area: heading;
    }
    .banner-phone-image {
        width:380px;
    }
}

@media (max-width: 720px) {
    .banner-wrapper {
        display: block;
        width: 100%;
        height: 550px;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
    }
    .banner-heading {
        text-align: center;
        font: $display-6;
        margin-bottom: 1em;
    }
    .banner-text {
        text-align: center;
        margin-bottom: 2.5em;
    }
    .banner-market{
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }
    .banner-scroll-to-discover {
        justify-content: center;
    }
    .banner-phone-image {
       display: none;
    }
}