@import '../utils/varibles.scss';

.banner {
    background-image: linear-gradient(350deg,rgba(99,102,241,0.15) 0%, rgba(218,70,239,0.07) 42%, rgba(241,244,253,0.07) 83%);
    height: auto;
    margin-top: -80px; // cover the navbar
}
.banner-wrapper {
    height: 680px;
    padding-top: 130px;
    overflow: hidden;
    display: block;
    margin: auto auto;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.banner-heading {
    text-align: center;
    font: $display-6;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
}
.banner-text {
    text-align: center;
    margin-bottom: 2.5em;
}
.banner-market{
    display: grid;
    padding-left: 1em;
    padding-right: 1em;
    row-gap: 0.75em;
}
.market-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}
.fa-apple {
    font-size: 2.45em;
}
.download {
    font: $xs-text;
}
.store {
    font: $heading-6;
}
.banner-scroll-to-discover {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
        color: $gray-600;
        font: $m-text;
        span {
            margin-left: 5px;
        }
}
.banner-phone-image {
   display: none;
}

@media (min-width: 720px) {
    .banner-wrapper {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 30% auto;
        grid-template-areas: 
            'heading heading'
            'content img';
        column-gap:20px;   
        row-gap: 1.5em;
    }
    .banner-heading {
        grid-area: heading;
        font: $display-5;
        justify-self: center;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-content {
        grid-area: content;
    }
    .banner-text {
        text-align: start;
    }
    .phone-img-wrapper {
        display: block;
        position: relative;
        grid-area: img;
    }
    #phone-bottom {
       display: grid;
       position: absolute;
       z-index: -1;
       height: 80%;
       width: 60%;
       bottom: 0;
       right: 30%;
    }
    #phone-top {
        display: grid;
        position: absolute;
        width: 65%;
        height: 100%;
        right: 0;
    }
    .banner-market {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        row-gap: 0;
        column-gap: 5px;
    }
    .banner-scroll-to-discover {
        justify-content: flex-start;
        margin-top: 7em;
    }
}

@media (min-width: 1340px) {
    .banner-wrapper {
        max-width: 1340px;
        grid-template-areas: 
            'heading img'
            'content img';
        column-gap: 5em;
    }
    .banner-heading {
        font: $display-4;
        grid-area: heading;
        justify-self: start;
        padding-left: 0;
        padding-right: 0;
        text-align: start;
        display: block;
    }
    .banner-scroll-to-discover {
        margin-top: 8em;
    } 
}