.slider {
    background-color: var(--bg-secondary);
}
.slider-wrapper {
    position: relative;
    margin: auto auto;
    align-items: center;
    text-align: center;
    h2 {
        font: $heading-1;
        margin-bottom: 40px;
        padding-top: 50px;
    }
    h3 {
        font: $heading-4;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    p {
        padding-bottom: 30px;
    }
}
.slider-images {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 10em;
    .slide {
        min-width: 10em; 
        transition: transform 0.5s ease;
        display: block;
    }
    img {
        width: 10em; 
    }
}
#next-btn, #prev-btn {
    position: absolute;
    bottom: 25em;
}
#next-btn {
    right: 2.5em;
}
#prev-btn {
    left: 2.5em;
}
@media (min-width: 720px) {
    .slider-wrapper {
        max-width: 720px;
        display: grid;    
    }
    .slider-images {
        width: 80%;
        .slide {
            min-width: 33.333%; 
            transition: transform 0.5s ease;
        }
        img {
            width: 85%;
            opacity: 80%; 
            transition: opacity 0.5s ease, width 0.5s ease;
        }
        .active-slide {
            img {
                opacity: 100%;
                width: 90%;
            }    
        }
    }

}
@media (min-width: 1340px) {
    .slider-wrapper {
        max-width: 1340px;
    }
    .center-image {
        margin-left: 80px;
        margin-right: 80px;
    }
    #next-btn, #prev-btn {
        bottom: 32em;
    }

}