.feature-tranfers-and-payments {
    display: none;
}

@media (min-width: 1340px) {
    .feature-tranfers-and-payments {
        display: block;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 1340px;
        h2 {
            width: 80%;
            margin-bottom: 20px;
        }
        button {
            margin-top: 20px;
        }
    }
    .transfers-image {
        position: relative;
    }
    .transfer-money-top {
        position: absolute;
        right: -10%;
        bottom: -10%;
    }
    .transfers, .international-payments {
        display: grid;
        place-items: center;
        gap: 1;
        grid-template-columns: 1fr 1fr;
    }
    .transfers-information {
        li {
            margin-bottom: 10px;
        }
        span {
            margin-left: 10px;
        }
    }
    .payments-grid {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}
