.banner {
  background-image: linear-gradient(350deg, rgba(99, 102, 241, 0.15) 0%, rgba(218, 70, 239, 0.07) 42%, rgba(241, 244, 253, 0.07) 83%);
  height: auto;
  padding-top: 100px;
}

.banner-wrapper {
  display: grid;
  grid-template-columns: 45% 50%;
  position: relative;
}

.banner-content {
  display: flex;
  padding-top: 15%;
  padding-left: 50px;
  align-items: center;
  justify-content: flex-end;
}

.banner-heading {
  font: 800 3.5rem "Manrope", Helvetica, sans-serif;
  padding-left: 50px;
  margin-bottom: -70px;
  width: 45%;
}

.banner-text {
  font: 500 1.125rem "Manrope", Helvetica, sans-serif;
  color: #565973;
  margin-bottom: 3em;
}

.banner-market {
  display: flex;
}

.banner-market-appstore {
  border: none;
  margin-right: 20px;
  border-radius: 10px;
  background-image: url(../../public/images/appstore.svg);
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 52px;
}
body.dark-theme .banner-market-appstore {
  background-image: url(../../public/images/dark-theme/appstore-dark-theme.svg);
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 52px;
}

.banner-market-googleplay {
  border: none;
  border-radius: 10px;
  background-image: url(../../public/images/googleplay.svg);
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 52px;
}
body.dark-theme .banner-market-googleplay {
  background-image: url(../../public/images/dark-theme/googleplay-dark-theme.svg);
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 52px;
}

.banner-image-container {
  height: 120%;
  overflow: hidden;
  position: absolute;
  right: 50px;
  bottom: 0px;
}

.banner-phone-image {
  height: 50em;
}

.banner-scroll-to-discover {
  margin-top: 6em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  color: #9397AD;
  font: 500 1rem "Manrope", Helvetica, sans-serif;
}

.down-arrow-image {
  background-image: url(../../public/images/next-btn.svg);
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: 4rem;
}
body.dark-theme .down-arrow-image {
  background-image: url(../../public/images/dark-theme/next-btn-dark-mode.svg);
  background-size: cover;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

@media (max-width: 1200px) {
  .banner-wrapper {
    grid-template-columns: 48% 40%;
  }
  .banner-heading {
    width: 80%;
    padding-left: 10%;
    margin-bottom: 40px;
  }
  .banner-image-container {
    height: 90%;
  }
  .banner-content {
    justify-content: flex-start;
    padding-left: 20%;
  }
  .banner-phone-image {
    height: 35em;
  }
}
@media (max-width: 1000px) {
  .banner-image-container {
    right: 0;
  }
  .banner-market-appstore, .banner-market-googleplay {
    width: 160px;
  }
}
@media (max-width: 800px) {
  .banner-wrapper {
    display: block;
  }
  .banner-content {
    padding-top: 5%;
    padding-left: 10px;
  }
  .banner-heading {
    font: 800 2.5rem "Manrope", Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: center;
  }
  .banner-text {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
  }
  .banner-market {
    justify-content: center;
    align-items: center;
  }
  .banner-market-appstore {
    margin: 5px;
  }
  .banner-scroll-to-discover {
    margin-top: 3em;
    justify-content: center;
  }
  .banner-image-container, .banner-phone-image {
    display: none;
  }
}
@media (max-width: 600px) {
  .banner-market-appstore {
    width: 150px;
  }
  .banner-market-googleplay {
    width: 150px;
  }
}
.dark-theme {
  background-color: #0B0F19;
  color: white;
}
.dark-theme a {
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}
.light-theme a {
  color: black;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.theme-and-login-container {
  margin-right: 80px;
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
