@import '../utils/varibles.scss';
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}
:root {
    --bg-primary:#{$white};
    --bg-secondary:#{$gray-100};
    --color: #{$gray-900};
    --border-color: #{$gray-400};
}
body.dark-theme {
    --bg-primary: #{$gray-900};
    --bg-secondary:#{$white-05};
    --color: #{$white-70};
    --border-color: #{$white-70};
    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}
body {
    font-family: $font-stack;
    transition: background-color 0.5s ease;
    background-color: var(--bg-primary);
    color: var(--color);
}
a {
    font: $m-text;
    color: var(--color);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    font: $m-text;
}