@import '../utils/varibles.scss';
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
:root {
    --bg-primary:#{$white};
    --bg-secondary:#{$gray-100};
    --color: #{$gray-900};
    --border-color: #{$gray-400};
}
body.dark-theme {
    --bg-primary: #{$gray-900};
    --bg-secondary:#{$white-05};
    --color: #{$white};
    --border-color: #{$white-70};
}
body {
    font-family: $font-stack;
    background-color: var(--bg-primary);
    color: var(--color);
}
a {
    font: $m-text;
    color: var(--color);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    font: $m-text;
}