.btn {
    border-width: 0;
    border-radius: 8px;
}
.btn-small {
    padding-left: 0.54em;
    padding-right: 0.54em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.btn-medium {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
.btn-large {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.btn-brand {
    background-color: darken($brand-primary, 1%);
    color: $white;
    font: $s-text;
}
.btn-primary {
    background-color: $gray-900;
    color: $white;
    body.dark-theme & {
        background-color: $gray-100;
        color: $gray-800;
    }
}
.btn-secondary {
    background-color: var(--bg-secondary);
    color: $gray-800;
    body.dark-theme & {
        color: $white;
    }
}
.btn-white {
    background-color: $white;
    color: $gray-800;
    body.dark-theme & {
        color: $white;
        background-color: $white-05;
    }
}  
.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-width: 0;
}