@import './toggle.scss';
@import './buttons.scss';
@import '../utils/mixins.scss';

header {
    body.dark-theme & {
        background-color: rgba(241,244,253,0.07);
    }
}
.navbar {
    position: sticky;
    top: 0;
    max-width: 1340px;
    margin: auto auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    label {
        margin-bottom: 24px;
        margin-left: 10px;
    }
}
.logo-name {
    color: $gray-900;
    body.dark-theme & {
        color: $white;
    }
    font: $xl-text;
    margin-left: 5px;
}
.signin {
    margin-left: 70px;
}
.features-link { 
    margin-left: 20px ;
    font: $navigation;
}
.features-link:hover {
    color: $brand-primary;
}
.burger-menu {
    display: none;
}

@media (max-width: 1340px) {
    .navbar {
        max-width: 720px;
    }
    .features-link, .signin {
        display: none;
    }
    .toggle-container {
        margin-right: 100px;
    }
    .burger-menu {
        display: block;
        border-width: 0;
        background-color: transparent;
        @include build-image('.././images/burger-menu.svg', 31px, 36px);
        body.dark-theme & {
            @include build-image('.././images/dark-theme/burger-menu-dark-theme.svg', 31px, 36px);
        }
    }
}

@media (max-width: 720px) {
    .navbar {
        width: 100%;
    }
    .theme-text {
        display: none;
    }
    .toggle-container {
        margin-right: 60px;
    }
    .nav-right {
        margin-right: 20px;
    }
}
