.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.theme-and-login-container {
    margin-right: 80px;
    display: flex;
    align-items: center;
}