// Mycket av koden nedan är tagen från https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
.toggle-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .toggle-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a slider */
  .toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 46px;
    background-color: $gray-600;
    border-radius: 20px;
    transition: background-color 0.5s ease;
  }

  /* When the toggle is checked, add brand primary background color */
  .toggle-container input:checked ~ .toggle-slider {
    background-color: $brand-primary;
  }
  
  /* Create the indicator (the dot/circle - to the left when not checked) */
  .toggle-slider:after {
    content: "";
    position: absolute;
    display: block;
    transition: left 0.5s ease;
    left: 0;
  }
  
  /* slide (dot/circle) when checked */
  .toggle-container input:checked ~ .toggle-slider:after {
    display: block;
    left: 22px;
  }
  
  /* Style the indicator (dot/circle) */
  .toggle-container .toggle-slider:after {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 50%;
    background: $white;
  }